.DS_Store
node_modules
vendor
.tmp
npm-debug.log
.devcontainer/postCreateCommand.log

htdocs/*
!htdocs/wp-content
htdocs/wp-content/*
!htdocs/wp-content/plugins
htdocs/wp-content/plugins/*
!htdocs/wp-content/plugins/wp-codespace

!htdocs/wp-content/themes
htdocs/wp-content/themes/*
!htdocs/wp-content/themes/rosegarden
