.DS_Store
node_modules
vendor
.tmp
npm-debug.log
.devcontainer/postCreateCommand.log

wordpress/*
!wordpress/wp-content
wordpress/wp-content/*
!wordpress/wp-content/plugins
wordpress/wp-content/plugins/*
!wordpress/wp-content/plugins/wp-codespace

!wordpress/wp-content/themes
wordpress/wp-content/themes/*
!wordpress/wp-content/themes/rosegarden
